.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat ul {
  height: 100vh;
  overflow-y: scroll;
}

.chat form {
  height: 10%;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  background-color: lightgray;
}
.chat #messages  {
  background-color: white;
  font-size: 1vw;
  margin: 0px;
  padding: 10px;
  list-style: none;
}
.chat #messages li {
  background-color: rgb(239, 246, 255);
}
.chat #messages li {
  text-align: left;
}

.chat #messages li:nth-child(odd) {
  background-color: white;
}

.chat #messages li span{
  text-align: left;
  font-weight: bolder;
}