.btn {
  padding: 5px;
  border: 0px;
  border-radius: 10px;
  font-size: 1vw;
  width: 6vw;
  height: 2vw;
  text-align: center;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: 0.2s;
}

.btn:hover {
  transition: 0.2s;
}
