.player-info {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;

  font-size: 1vw;
  align-items: center;
  background-color: lightblue;
}

.player-info img {
  width: auto;
  max-height: 9dvh;
  border-radius: 2px;
}
